<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="appIndex" enabled="true">
                    <match url="^$" />
                    <action type="Rewrite" url="/app/index.html" />
                </rule>
                <rule name="scripts" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="scripts/(.*)" />
                    <action type="Rewrite" url="app/scripts/{R:1}" />
                    <conditions logicalGrouping="MatchAny">
                    </conditions>
                </rule>
                <rule name="styles">
                    <match url="styles/(.*)" />
                    <action type="Rewrite" url="app/styles/{R:1}" />
                </rule>
                <rule name="views">
                    <match url="views/(.*)" />
                    <action type="Rewrite" url="app/views/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
