.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}


.app {
    
    box-sizing: border-box;
}

.stretch
{
    width:100%;
    height: 100%;
}

    .app .move-list
    {
        position: absolute;
        top: 64px;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }

.app .paging-container
{
    position:absolute;
    height:52px;
    bottom:0px;
    right: 0px;
    left: 0px;
}

.app .md-error-toast-theme  {
     background: #ff8a80;
}

.app .search-query-input
{
    background-color:white; 
    padding-bottom:2px;
}

.app .search-query-input input
{
    background-color:white; 
    margin-right:25px; 
    border-bottom:0px
}

    .app .search-query-input md-icon
    {
        color:gray;
        left:initial;
        left:auto;
        right:2px;
    }

.app .movie-list-item-cover-container {
    position:relative;
}

.app .movie-list-item-cover-container {
    align-self:flex-start;
    margin-top: 5px;
    height: calc(100% - 54px);
    box-sizing: border-box;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.app .movie-list-item-cover {
    max-height:100%; 
    max-width:100%; 
    min-height:100%;
}

.app .movie-list-item:hover .movie-list-item-play {
    display:flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor:pointer;
}

.app .movie-list-item-play {
    position: absolute;
    padding: 0;
    margin: 0;
    top:0px;
    bottom:0px;
    left: 0px;
    right: 0px;
    background: #FFF;
    opacity:0.5;
    display:none;
}

    .app .movie-list-item-play .material-icons {
        font-size: 60px;
        width: 60px;
        height: 60px;
        margin: 0;
    }

.app .progress-container
{
    position:absolute;
    background: #FFF;
    opacity: 0.7;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index:9000;
    display:flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.app .video-dialog-content
{
    min-width:490px;
    max-width:490px;
    padding: 10px;
}

.app md-dialog
{
    max-height:90%;
}

.app .md-button.md-icon-button.md-mini
{
    width: 22px;
    height: 22px;
    line-height: 22px;
}

    .app .md-button.md-icon-button.md-mini md-icon
    {
        width: 18px;
        height: 18px;
        font-size: 18px;
    }

.app .display-flex
{
    display:flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

    .app .display-flex.justify-center
    {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

.app .video-votes
{
    font-size: 26px;
    font-weight:bold;
}

.app .video
{
    margin-bottom:10px;
    width:480px;
    height: 360px;
}


.app .description
{
    position:relative;
    max-height: 100px;
}

.app .description.cut
{
    height: 60px;
    overflow:hidden;
}

.app .description-show-more-container
{
     position:absolute; top: 0; bottom: 0; right:0; left:0;
     background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
}

.app .year-range-input
{
    visibility: hidden;
}

.app .year-range-input md-input-container
{
    padding-bottom: 2px;
    color: rgba(255,255,255,0.87);
    min-width: 100px;
}   

    .app .year-range-input .md-select-value,
    .app .year-range-input md-input-container .md-placeholder
    {
        color:  rgba(255,255,255,0.87) !important;
    }
    .app .year-range-input md-input-container .md-placeholder.md-static
    {
        position: absolute;
    }

.app .description-show-more
{
    align-self:flex-end;
    color: #0000FF;
    text-decoration:underline;
    cursor:pointer;

}

/* The animation code */
@keyframes expand {
    from {height: 60px;}
    to {
        height: initial;
        height: auto;
    }
}

@keyframes expandYearInput {
    from {width: 0px;}
    to {
        width: 200px;
    }
}

.app .description.full
{
    animation-name: expand;
    animation-duration: 1s;
}

.app .year-range-input.full
{
    animation-name: expandYearInput;
    animation-duration: 1s;
    visibility: visible;
}

.share-buttons
{
    opacity:0;
}

    .share-buttons.visible
    {
        opacity:1;
    }