<!doctype html>
<html >
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    
    <!-- endbuild -->
  </head>
  <body layout="column" class="app stretch" ng-app="movieTrailersApp" >
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
      <div ng-controller="mainCtrl" class="stretch" style="box-sizing:border-box;">
          <md-toolbar >
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Search Trailers</span>
                    </h2>
                    <div layout="row" style="margin-left:5px">
                        <md-input-container class="search-query-input" >
                            <input ng-model="query" ng-keydown="search($event)" >
                            <md-icon md-font-set="material-icons">search</md-icon>
                        </md-input-container>
                        <md-button class="md-icon-button md-mini"  ng-click="showYearSelection()" >
                            <md-icon ng-if="isYearHidden" md-font-set="material-icons" >keyboard_arrow_right</md-icon>
                            <md-icon ng-if="!isYearHidden" md-font-set="material-icons" >keyboard_arrow_left</md-icon>
                        </md-button>
                        
                    </div>

                    <div layout="row" style="margin-left:5px" class="year-range-input" ng-class="{  'full': !isYearHidden }">
                        <md-input-container>
                            <label ng-if="selectedYear===undefined">Year</label>
                            <md-select ng-model="selectedYear">
                               <md-option value="na">
                                   &nbsp;
                              </md-option>
                              <md-option ng-repeat="y in years" value="{{y}}">
                                {{y}}
                              </md-option>
                            </md-select>
                          </md-input-container>
                    </div>
                </div>
            </md-toolbar>
            <md-content class="md-padding move-list">
                <md-grid-list md-cols="5" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3" md-cols-lg="4" md-cols-gt-lg="6"
                               md-row-height-sm="4:3" md-row-height-md="16:9" md-row-height-lg="4:3" md-row-height="1:1"
                              md-gutter="8px" md-gutter-gt-sm="4px">
                    <md-grid-tile ng-repeat="m in searchResult" ng-click="openVideo(m)" class="movie-list-item"
                                  md-rowspan="1"
                                  md-colspan="1"
                                  md-colspan-sm="1">
                        <div class="movie-list-item-cover-container" >
                            <img  ng-src="{{m.coverUrl}}" alt="cover" class="movie-list-item-cover" class="movie-list-item-cover">
                            <div class="movie-list-item-play">
                                <md-icon md-font-set="material-icons">play_circle_outline</md-icon>
                            </div>

                        </div>

                        <md-grid-tile-footer><h3 style="color:#000;">{{m.title}}</h3></md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list>
                
            </md-content>
                
          <div layout="row" class="paging-container" ng-if="searchResult.length <= totalResult">
              <div flex></div>
              <div>
                  <md-button ng-click="prevPage()" ng-disabled="isLoading || currentPage == 0" class="md-fab md-primary  md-mini" aria-label="Previous" title="Previous">
                      <md-icon md-font-set="material-icons">keyboard_arrow_left</md-icon>
                  </md-button>
                  <md-button ng-click="nextPage()" ng-disabled="isLoading || currentPage == getLastPageIndex()" class="md-fab md-primary md-mini" aria-label="Next" title="Next">
                      <md-icon md-font-set="material-icons">keyboard_arrow_right</md-icon>
                  </md-button>
              </div>
          </div>
          <div class="progress-container" ng-show="isLoading">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>    


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angulike/angulike.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>

    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/showTrailer.js"></script>

    <script src="scripts/services/notificationService.js"></script>
    <script src="scripts/services/trailersService.js"></script>
      
    <!-- endbuild -->
</body>
</html>
